select {
  width: 220px;
}
label {
  width: 200px;
  margin-left: 20px;
}
.user_card {
    height: 600px;
    width: 950px;
    margin-top: auto;
    margin-bottom: auto;
    background: #55a342;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font: 'Lexend', sans-serif;
    word-spacing: 3px;



  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #030303;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-top: 100px;
  }
  .login_btn {
    width: 100%;
    background: #000000 !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #000000 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .custom-r .form-c:checked~.form-cl::before {
    background-color: #000000 !important;
  }
  .pogz {
    font-family: 'Poppins',sans-serif;
    font-size: 23px;
  }
  input[type=radio] {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
    -webkit-appearance: none;
  }
  
  input[type=radio]:checked {
    background-color: rgb(255, 255, 255);
  
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }